body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

/*Navbar syles*/

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #1f2937;
  color: white;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration-line: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  font-weight: 700;
  font-size: 25px;
  color: #f9faf8;
}

/*Hero section styles*/


.hero-container {
  height: 600px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  
}

.hero-text-container {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.hero-heading {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-info {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-button {
  margin-top: 10px;
  background-color: #3882f6;
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: medium;
  color: white;
}

.hero-image-container {
  width: 500px;
  height: 250px;
}

.hero-image-container img {
  border-radius: 10px;
}

/*Information-section styles*/

.information-container {
  height:  560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.information-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.items {
  display: flex;
  gap: 20px;
}

.item {
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 10px;
}

.item-image img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

.item-info {
  text-align: center;
  flex-wrap: wrap;
}



.quote-container {
  height: 500px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
}

.quote-data-container {
  display: flex;
  flex-direction: column;
  width: 850px;
  gap: 5px;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.author {
  font-size: 34px;
  font-weight: 700;
  align-self: flex-end;
}

.action-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-data-container {
  width: 900px;
  padding: 50px;
  border: none;
  border-radius: 5px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
}

.tagline {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

.message {
  color: #f9faf8;
  font-size: 19px;
  font-weight: lighter;
}

.action-data-container button {
  color: #f9faf8;
  font-weight: 700;
  font-size: 18px;
  background-color: #3882f6;
  border: 3px solid #f9faf8;
  border-radius: 5px;
  padding-left: 25px;
  padding-right:25px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 35px;
}